body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    transition: background-color 0.3s ease;
}

body.dark-mode {
    background-color: #1e1e1e;
    color: #ffffff;
}

.main-container {
    display: flex;
    height: 100vh;
}

#chat-container {
    flex-grow: 1;
    overflow-y: scroll;
    background-color: #f8f9fa;
}

body.dark-mode #chat-container {
    background-color: #333;
    color: #fff;
}

.message {
    margin-bottom: 10px;
    padding: 12px 16px;
    border-radius: 12px;
    max-width: 70%;
    clear: both;
}

.message.user {
    background-color: #dcf8c6;
    float: right;
}

body.dark-mode .message.user {
    background-color: #4CAF50;
    color: #fff;
}

.message.bot {
    background-color: #ffffff;
    float: left;
}

body.dark-mode .message.bot {
    background-color: #555;
    color: #fff;
}

#message-input-area {
    background-color: #fff;
    padding: 15px;
    border-top: 1px solid #ced4da;
}

body.dark-mode #message-input-area {
    background-color: #444;
    border-top: 1px solid #666;
}

#message-input {
    border-radius: 20px;
    padding-left: 15px;
}

body.dark-mode #message-input {
    background-color: #555;
    color: #fff;
    border: 1px solid #777;
}

#send-button {
    border-radius: 20px;
    margin-left: 5px;
}

.chat-sidebar {
    width: 15vw;
    background-color: #f0f0f0;
    padding: 20px;
    border-right: 1px solid #ddd;
    overflow-y: auto;
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
}

body.dark-mode .chat-sidebar {
    background-color: #333;
    border-right: 1px solid #555;
    color: #fff;
}

.chat-sidebar.collapsed {
    width: 5vw;
    overflow: hidden;
}

.chat-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.chat-sidebar p {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

body.dark-mode .chat-sidebar p {
    background-color: #444;
    color: #fff;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
}

.chat-sidebar p:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

body.dark-mode .chat-sidebar p:hover {
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.15);
}

.chat-sidebar p.active {
    background-color: #e0f2f7;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

body.dark-mode .chat-sidebar p.active {
    background-color: #555;
}

df-messenger {
    z-index: 999;
    position: fixed;
    --df-messenger-primary-color: #fcf5f3;
    --df-messenger-titlebar-background: #fcf5f3;
    --df-messenger-titlebar-font-color: #000;
    --df-messenger-font-color: #000;
    --df-messenger-font-family: Google Sans;
    --df-messenger-chat-background: #fcf5f3;
    --df-messenger-message-user-background: #d3e3fd;
    --df-messenger-message-bot-background: #fff;
    --df-messenger-message-bot-actor-background: rgba(0, 0, 0, 0);
    --df-messenger-message-user-actor-background: rgba(0, 0, 0, 0);
    --df-messenger-message-actor-image-size: 40px;
    --df-messenger-message-actor-spacing: 5px;
    --df-messenger-send-icon-color: #0b57d0;
    --df-messenger-send-icon-color-hover: #0b57d0;
    --df-messenger-send-icon-color-active: #0b57d0;
    --df-messenger-input-font-color: #000;
    --df-messenger-input-background: #fff;
    --df-messenger-input-padding: 1% 25% 1% 25%;
    --df-messenger-input-border-top: 1px solid #e0e0e0;
    bottom: 0px;
    right: 0px;
    width: 85vw;
    height: 100vh;
}

body.dark-mode df-messenger {
    --df-messenger-primary-color: #333;
    --df-messenger-titlebar-background: #333;
    --df-messenger-input-background: #333;
    --df-messenger-chat-background: #333;
    --df-messenger-message-user-background: #4CAF50;
    --df-messenger-message-bot-background: #555;
    --df-messenger-font-color: #fff;
    --df-messenger-titlebar-font-color: #fff;
    --df-messenger-send-icon-color: #fff;
    --df-messenger-send-icon-color-hover: #fff;
    --df-messenger-send-icon-color-active: #fff;
    --df-messenger-send-icon-color-disabled: #ffffffad;
    --df-messenger-input-font-color: #000;
    --df-messenger-input-border-top: 1px solid #333;
    --df-messenger-titlebar-border-bottom: 1px solid #333;
    --df-messenger-chat-border: #111111;
    --df-messenger-code-block-code-background: #3b3939;
}
body.dark-mode code{
    color: #000 !important;
}

.chat-content.expanded df-messenger {
    width: 95vw;
}

#dark-mode-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #333;
    z-index: 9999;
}
#logout-btn {
    position: absolute;
    top: 2px;
    padding: 20px;
    right: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #333;
    z-index: 9999;
}
#reset-btn {
    position: absolute;
    top: 2px;
    padding: 20px;
    right: 70px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #333;
    z-index: 9999;
}
body.dark-mode #reset-btn {
    color: #fff;
}

body.dark-mode #dark-mode-toggle {
    color: #fff;
}

.sidebar-content.hide {
    display: none !important;
}

#sidebar-toggle {
    position: absolute;
    top: 20px;
    right: 1em;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
}